@use '../styles/_variables' as *;

.tabs {
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid $grey-light;
}

.tabs__tabs-container {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.tabs__tab {
  font-size: 12px;
  color: $grey-dark;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

.tabs__tab:hover {
  color: var(--weaverbird-theme-main-color, $active-color);
  text-decoration: none;
}

.tabs__tab--selected {
  text-decoration: none;
  color: var(--weaverbird-theme-main-color, $active-color);
  border-bottom: 3px solid var(--weaverbird-theme-main-color, $active-color);
  margin-bottom: -2px; // To avoid having the border above the border of the container
  padding-bottom: 14px; // To avoid the label "jumping" one pixel up when selected
}

.tabs__tab--disabled {
  border-bottom-color: $grey-light;
  cursor: not-allowed;
  &,
  &:hover {
    background: unset;
    color: rgba($grey-light, 0.9);
  }
}

.tabs--compact {
  .tabs__tabs-container {
    overflow-x: auto;
  }
}
