@use '../../../styles/_variables' as *;

.widget-list__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 20px;
}

.widget-list__label {
  color: $base-color;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.widget-list__body {
  background: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.widget-list__child {
  width: 100%;
  padding-right: 15px;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.widget-list__component {
  width: 98%;
  // Deep selector for label width adjustments if needed
}

.widget-list__component--colored {
  background-color: #f8f8f8;
  padding: 8px 8px 0;
}

.widget-list__component-sep {
  font-size: 14px;
  margin-right: 5px;
}

.widget-list__add-fieldset {
  background: #4b4b4b;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  align-self: center;
  background-color: #f8f8f8;
  border: 1px dashed $active-color;
  color: $active-color;
  font-weight: 500;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.widget-list__add-fieldset-icon {
  color: $active-color;
}

.widget-list__icon {
  margin-top: 8px;
  position: absolute;
  right: 0;
  top: calc(50% - 16px);
  cursor: pointer;
  color: $grey-medium;
  &:hover {
      color: black;
  }
}
