// COLOR VARIABLES
$base-color: #404040 !default;
$base-color-light: #4c4c4c !default;
$active-color: #2a66a1 !default;
$active-color-faded: #89AACB !default;
$active-color-faded-2: #cbdaed !default;
$active-color-faded-3: #e9eff5 !default;
$data-viewer-border-color: #e0e0e0 !default;
$light-grey: #fafafa;
$grey: #eeeeee;
$grey-medium: #aaaaaa;
$grey-dark: #585858;
$error-light: #fdf9e5;
$error: #f3c600;

//GLOBAL STYLE (by default we use the google font "Montserrat")
%main-font-style {
  color: $base-color;
  font-family: 'Montserrat', sans-serif;
}

// FORMS STYLES PLACEHOLDER
%form-widget__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 20px;
}

%form-widget__label {
  color: $base-color;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

%form-widget__field {
  align-items: center;
  background-color: transparent;
  box-shadow: 0 0 0 1px #f1f1f1 inset;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  transition: box-shadow 0.25s;
  color: #4c4c4c;
  line-height: 24px;
  width: 100%;
  padding: 8px 8px 8px 8px;
  outline: none;

  &::placeholder {
    font-size: 12px;
    color: $grey-dark;
  }
  // NOSONAR
  box-size &::placeholder {
    color: $grey-dark;
  }
}

%form-widget__field--focused {
  box-shadow: 0 0 0 1px $active-color inset;
}

%button-default {
  background: #4b4b4b;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
