//FONT - Temporary declaration for montserrat google font.
// => we have to decide if we will use the same font as used in Tucana
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400&display=swap');

// COLOR VARIABLES
$base-color: #404040 !default;
$base-color-light: #4c4c4c !default;
$active-color: rgb(38, 101, 163) !default;
$active-color-faded: rgba($active-color, 0.5) !default;
$active-color-faded-2: rgba($active-color, 0.1) !default;
$active-color-faded-3: rgba($active-color, 0.05) !default;
$data-viewer-border-color: #e0e0e0 !default;
$grey: #eeeeee;
$grey-dark: #585858;

//GLOBAL STYLE
.data-viewer,
.query-builder {
  color: $base-color;
  font-family: 'Montserrat', sans-serif;
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  button {
    outline: none;
  }

  fieldset {
    border: none;
  }
}

// FORMS STYLES PLACEHOLDER
%form-widget__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 20px;
}

%form-widget__label {
  color: $base-color;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

%form-widget__field {
  align-items: center;
  background-color: transparent;
  box-shadow: 0 0 0 1px #f1f1f1 inset;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  transition: box-shadow 0.25s;
  color: #4c4c4c;
  line-height: 24px;
  width: 100%;
  padding: 8px 30px 8px 8px;
  outline: none;

  &::placeholder {
    font-size: 12px;
    color: $grey-dark;
  }

  box-size &::placeholder {
    color: $grey-dark;
  }
}

.widget-list__container {
  %form-widget__field {
    background-color: white;
  }
}

%form-widget__field--focused {
  box-shadow: 0 0 0 1px $active-color inset;
}

%button-default {
  background: #4b4b4b;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
