// COLOR VARIABLES
$active-color: rgb(38, 101, 163) !default;
$active-color-faded: rgba($active-color, 0.1) !default;
$active-color-faded-2: rgba($active-color, 0.05) !default;
$data-viewer-border-color: #e0e0e0 !default;
