@import './_variables';

$syntax-highlighting-string-color: $text-color !default;
$syntax-highlighting-number-color: #07a !default;
$syntax-highlighting-boolean-color:#690 !default;
$syntax-highlighting-keyword-color: #905 !default;

$formatted-data-font-family: sans-serif !default;

.dataset-viewer__cell {
  white-space: pre;

  &.dataset-viewer__cell--formatted {
    font-family: $formatted-data-font-family;
    font-feature-settings: "tnum";
  }

  &[data-type="Number"],
  &[data-type="NaN"] {
    justify-content: flex-end;
  }

  // Color based on type
  &[data-type="String"] {
    color: $syntax-highlighting-string-color;
  }

  &[data-type="NaN"],
  &[data-type="Number"] {
    color: $syntax-highlighting-number-color;
  }

  &[data-type="Boolean"] {
    color: $syntax-highlighting-boolean-color;
  }

  &[data-type="Undefined"],
  &[data-type="Null"] {
    color: $syntax-highlighting-keyword-color;
  }
}
