@import './_variables';

.data-viewer-container {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.data-viewer-table {
  border-collapse: collapse;
  width: 100%;
}

.data-viewer__header-cell,
.data-viewer-cell {
  position: relative;
  padding: 8px;
  background-color: white;
  cursor: pointer;
  border: 1px solid $data-viewer-border-color;
  font-size: 13px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;
}

.data-viewer-cell {
  background-color: #fafafa;
}

.data-viewer-cell--active {
  // It's trick to have its left side colored cause of border-collapse
  border-left: 1px double;
  background-color: $active-color-faded-3;
  border-right-color: $active-color;
  border-left-color: $active-color;
}

.data-viewer__row:last-child {
  .data-viewer-cell--active {
    border-bottom-color: $active-color;
  }
}

.data-viewer__header-cell {
  font-weight: bold;
  padding: 6px 8px 3px;
}

.data-viewer__header-cell--active {
  // It's trick to have its left side colored cause of border-collapse
  border-left: 1px double;
  color: $active-color;
  background-color: $active-color-faded-3;
  border-top-color: $active-color;
  border-left-color: $active-color;
  border-right-color: $active-color;
}

.data-viewer__header-label {
  display: inline-block;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
  padding-right: 15px;
}

.data-viewer__header-action {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 8px;
  transition: opacity 300ms ease;
}

.data-viewer__header-cell:hover {
  .data-viewer__header-action {
    opacity: 1;
    visibility: visible;
  }
}
