.domain-selector {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  margin: 10px 0;
  width: 100%;
}

.domain-selector__label {
  color: rgb(154, 154, 154);
  font-weight: 600;
  font-size: 12px;
  margin-right: 10px;
}

.domain-selector__select-container {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: rgb(239, 239, 239);
  overflow: hidden;
}

.domain-selector__select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  color: rgb(154, 154, 154);
  font-weight: 600;
  font-size: 15px;

  width: 110%;

  height: 100%;
  outline: none;
  border: 0;
  margin: 0;
  padding-left: 12px;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.domain-selector__icon-arrow {
  color: black;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 10px;
}
