.resizable-panels {
  display: flex;
  max-height: 100%;
}

.resizable-panels__panel {
  padding: 10px 15px;
  max-height: 100%;
}

.resizable-panels__resizer {
  display: flex;
  justify-content: space-around;
  width: 3px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  cursor: ew-resize;
}

.resizable-panels__line {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}
