[tool.poetry]
name = "weaverbird"
version = "0.1.2"
description = "Pandas engine for weaverbird data pipelines"
authors = ["Toucan Toco <dev+weaverbird@toucantoco.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
pandas = ">0"
pydantic = ">0"
numexpr = ">0"

[tool.poetry.dev-dependencies]
pytest = "^6.1.1"
pytest-cov = "^2.10.1"
black = "^20.8b1"
flake8 = "^3.8.4"
isort = "^5.6.4"
mypy = "^0.790"
Flask = "^1.1.2"
pytest-mock = "^3.3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
target-version = ["py38"]
skip-string-normalization = true
