.has-weaverbird__tooltip {
  cursor: pointer;
}

.weaverbird__tooltip {
  display: block !important;
  padding: 4px;
  z-index: 10000;
  display: none;

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }

  &[x-placement='bottom'] .tooltip-arrow {
    border-right-color: rgba(0, 0, 0, 0.9);
    border-top-color: rgba(0, 0, 0, 0.9);
    top: 0;
  }

  &[x-placement='top'] .tooltip-arrow {
    border-bottom-color: rgba(0, 0, 0, 0.9);
    border-left-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
  }

  .tooltip-inner {
    background: #000000;
    color: white;
    padding: 4px 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    letter-spacing: 0px;
    line-height: 21px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
  }

  .tooltip-inner::first-letter {
    text-transform: uppercase;
  }

  .tooltip-inner a {
    color: white;
  }

  .tooltip-inner a:hover {
    color: #888;
  }

  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -4px;
    margin-top: -4px;
    box-sizing: border-box;
    transform-origin: center;
    transform: rotate(-45deg);
    border-style: solid;
    border-width: 8px 0 0 8px;
    border-color: black;
  }
}
