# Site settings
title: Weaverbird
email: dev+weaverbird@toucantoco.com
description: >
  Doc VQB
lang: en-US

# en prod :
baseurl: "" # the subpath of your site
url: "https://weaverbird.toucantoco.com" # the base hostname & protocol for your site
git_address: https://github.com/ToucanToco/weaverbird

# theme options from https://bootswatch.com/
# comment out this to use default Bootstrap
bootwatch: Flatly

# Build settings
markdown: kramdown
highlighter: rouge
gems:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

exclude:
  - Gemfile
  - Gemfile.lock
  - .idea/
  - .gitignore
  - README.md
timezone: Europe/Berlin
defaults:
- scope:
    path: _docs
    type: docs
  values:
    layout: docs
    sectionid: docs
    seo:
      type: "WebPage"

collections:
  docs:
    permalink: /:collection/:path/
    output: true
  posts:
    permalink: /blog/:year/:month/:day/:title/
    output: true
