name: CI (UI)

on:
  # Trigger build and tests of the front-end (UI) when pushing in master or pull requests, and when creating
  # a pull request, only if `src/`, `tests/` or some build conf files are modified
  push:
    branches:
      - master
    paths:
      - 'ui/**'
      - '.github/workflows/ci-ui.yml'
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'ui/**'
      - '.github/workflows/ci-ui.yml'

jobs:
  build_lint_and_test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ui

    steps:
      - uses: actions/checkout@v3
        with:
          # Shallow clones should be disabled for a better relevancy of analysis
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
          cache-dependency-path: ui/yarn.lock

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Check format
        run: yarn format:ci

      - name: Lint
        run: yarn lint:ci

      - name: Archive lint report
        uses: actions/upload-artifact@v4
        with:
          name: lint-report
          path: ui/lint-report.json
        if: failure()

      - name: Unit tests
        run: yarn coverage

      - name: Send report to codecov
        run: yarn codecov
        if: ${{ always() }}

      - name: Fix reports paths
        run: |
          sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace@g' coverage/lcov.info
          sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace@g' lint-report.json

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        if: ${{ always() }}
        with:
          projectBaseDir: ui

      - name: Check that build completes as expected
        run: yarn build
